<h1>Welcome to New Fuel Page!</h1>
<p>Dear User, You can add new fuel of your choice or by selecting any one of the fuel from the list below.</p>
    <ul>
        <li>Wood</li>
        <li>Coal</li>
        <li>Petroleum</li>
        <li>Coal Tar</li>
        <li>Alcohols</li>
        <li>Coal gas</li>
        <li>Producer Gas</li>
        <li>Water Gas</li>
        <li>Hydrogen</li>
        <li>Acetylene</li>
    </ul>
<mat-dialog-actions>
    <button class="buttonfor" mat-dialog-close>Log Out</button>
</mat-dialog-actions>
