<div class="sidenav">
    <h2 style="background-color: blue; font-family: 'Times New Roman', Times, serif"><mat-icon> layers</mat-icon></h2>
     <div class="changecolor" matTooltip = "Dashboard" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Dashboard!')"><mat-icon>dashboard</mat-icon>Dashboard</div>
     <div class="changecolor" matTooltip = "Vehicles" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Vehicles!')"><mat-icon>directions_car</mat-icon> Vehicles</div>
     <div class="changecolor" matTooltip = "Livemap" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Livemap!')"><mat-icon>my_location</mat-icon> Livemap</div>
     <div class="changecolor" matTooltip = "Issues" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Issues!')"><mat-icon>warning</mat-icon> Issues</div>
     <div class="changecolor" matTooltip = "Tasks" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Tasks!')"><mat-icon>list</mat-icon> Tasks</div>
     <div class="changecolor" matTooltip = "Inspections" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Inspections!')"><mat-icon>search</mat-icon> Inspections</div>
     <div class="changecolor" matTooltip = "Fuel" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Fuel!')"><mat-icon>local_gas_station</mat-icon> Fuel</div>
     <div class="changecolor" matTooltip = "Reminders" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Reminders!')"><mat-icon>calendar_today</mat-icon> Reminders</div>
     <div class="changecolor" matTooltip = "Services" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Services!')"><mat-icon>cloud_queue</mat-icon> Services</div>
     <div class="changecolor" matTooltip = "Faults" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Faults!')"><mat-icon>bug_report</mat-icon> Faults</div>
     <div class="changecolor" matTooltip = "Users" matTooltipPosition = "after" (click)="openSnackBar('Welcome to Users!')"><mat-icon>account_circle</mat-icon> Users</div>
</div>
